Game Rig Tools Test Report 1.4.0

# GRT: Utility Tool

## Active Armature Display

[Tested OK] UI and All Property are Tested OK for Active Armature Display
[Fixed Error] Fixed Bone Colors Property Name
[Updated] Add Relations (Tail / Head) to Active Armature Display

## Utility Tool

[Tested OK] Constraint To Armature By Bone Name
[Tested OK] Flatten Hierarchy
[Tested OK] Disconnect All Bones
[Tested OK] Unbind Mesh
[Tested OK] Batch Rename Vertex Groups
[Tested OK] Proximity Parent
[Tested OK] Apply Armature Scale
[Fixed Bugs] Batch Rename Actions All Mode Problem
[Fixed Error] Convert Bendy Bones to Bones
[Removed] Bake Custom Properties

## Clean Up Tool

[Tested OK] Unlock Bones Transform
[Tested OK] Clear All Bones Constraints
[Tested OK] Remove Non Deform Bone
[Tested OK] Remove Animation Data
[Tested OK] Remove BBone
[Tested OK] Remove Bone Shapes
[Tested OK] Remove Custom Properties
[Removed] Move All Bones to Layer

## Action Bakery

[Updated] Expose Bake Channel (Lot, Rot, Scale, BBone, Custom Properties) to Global Bake Settings
[Updated] Action Bakery uses Blender new proper Panel UI Layout
